#game-wrap .wolf {
    width: 50px;
    height: 140px;

    position: absolute;

  }

  /* shoots left top */
  #game-wrap[data-bx="0"] .wolf {
    width: 250px;
    height: 150px;

    top: 159px;
    left: 140px;

    background: transparent url("../img/wolves/leftTop.png") center center no-repeat;
    background-size: cover;

  }
  
  /* shoots left bottom */
  #game-wrap[data-bx="0"][data-by="0"] .wolf {
    width: 250px;
    height: 150px;

    top: 159px;
    left: 140px;
  
    background: transparent url("../img/wolves/leftBottom.png") center center
      no-repeat;
    background-size: cover;

  }
  
  /* shoots right bottom */
  #game-wrap[data-bx="1"][data-by="0"] .wolf {
    width: 250px;
    height: 150px;

    top: 159px;
    right: 140px;

    background: transparent url("../img/wolves/rightBottom.png") center center
      no-repeat;
    background-size: cover;

  }

  /* shoots right top */
  #game-wrap[data-bx="1"] .wolf {
    width: 250px;
    height: 150px;

    top: 159px;
    right: 140px;
  
    background: transparent url("../img/wolves/rightTop.png") center center
      no-repeat;
    background-size: cover;
    
  }